<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <link rel="canonical" href="">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title id="title">
        <%=title %>
    </title>
    <link rel="shortcut icon" href="images/favicon.ico">
    <meta name="description" content="Visite o site do NoMapa e descubra as novidades !">
    <meta name="keywords" content="nomapa, turismo, pedagogia, excursão, campos">
    <meta property="og:title" content="NoMapa">
    <meta property="og:site_name" content="NoMapa">
    <meta property="og:description" content="Visite o site do NoMapa e descubra as novidades !">
    <meta property="og:image" content="/images/nomapa.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="360">
    <meta property="og:image:height" content="360">
    <!-- vendor -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/vendor/project-standard-stylesheet-min.css">
    <!-- layout -->
    <link rel="stylesheet" href="/stylesheets/layout-default-stylesheet-min.css">
    <link rel="stylesheet" href="/stylesheets/chat-stylesheet-min.css">

</head>

<body class="loading">
    <% include /partials/main-layout-NAVBAR %>
        <div class="site-container pt-custom">
            <%- body%>
        </div>
        <% include /partials/main-layout-FOOTER %>
            <div id="chat-button" class=""></div>
            <div id="chat" class="closed vRow">
                <div class="c_header hRow jus-start aln-center p-3"><img id="c_mn-img" class="sfit" src="/images/round-logo.svg" alt="">
                    <div class="vRow sfit pl-2"><span id="c_mn-name" class="sfit font-weight-bold"></span> <span id="c_mn-status" class="sfit d-none">Off-line</span></div><span id="c_close-btn" class="abs-rt"></span></div>
                <div id="c_body" class="p-0 m-0 vRow jus-ceter aln-center">
                    <div id="c_messages-vp" class="ov-auto">
                        <ul id="c_messages" class="p-0 hfit ">
                            <li class="vRow jus-start aln-center p-2 pt-4">
                                <form action="" id="chat-form-entrada" class="hfit">
                                    <div class="vRow hfit jus-center aln-center">
                                        <label for="" class="fs-small">Nome :
                                            <input type="text" name="name" class="fs-large my-1 form-control">
                                        </label>
                                        <label for="" class="fs-small">Telefone :
                                            <input type="text" name="phone" class="fs-large my-1 form-control">
                                        </label>
                                        <label for="" class="fs-small">Email :
                                            <input type="text" name="email" class="fs-large my-1 form-control">
                                        </label>
                                        <input id="c_init-btn" type="submit" class="mt-3 form-control" value="Iniciar Chat">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <div id="c_bottom" class="p-2">
                        <form action="" id="chat-form-saida" class="d-none">
                            <div class="hRow aln-center">
                                <input type="text" name="m" class="form-control">
                                <input id="c_sender-btn" class="ml-1 form-control" value="" type="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="/vendor/bootstrap/js/bootstrap.min.js" integrity="" crossorigin="anonymous"></script>
            <script src="/javascripts/layout-script-min.js"></script>
            <script defer="defer" src="/socket.io/socket.io.js"></script>
</body>

</html>