.carousel-viewport {
    width: 100%;
    overflow: auto;
    position: relative;
    height: 208px
}

.gen-viewport {
    height: 500px;
    width: 100%;
    overflow: auto;
    position: relative
}

.carousel-flow {
    transition: all .22s;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 216px
}

.gen-flow {
    transition: all .22s;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: fit-content
}

.flow {
    width: 100%;
    height: 100%
}

#editControls {
    margin-bottom: 3px
}

.bt-group {
    border-radius: 4px;
    padding: 2px;
    border: solid 1px #ccc
}

#editor-input {
    resize: vertical;
    overflow: auto;
    cursor: text;
    padding: 1em;
    min-height: 400px;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 4px
}

.editor-btn {
    background-color: #f3eeee;
    width: fit-content;
    height: 28px;
    padding: 4px 16px;
    border-left: solid 1px #ddd;
    cursor: pointer;
    text-align: center;
    color: #000!important;
    line-height: .6
}

.bd-left {
    border-left: solid 1px #ccc
}

.bd-right {
    border-right: solid 1px #ccc
}

.editor-btn:hover {
    background-color: #fff
}

#photo-button {
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(/images/padrao/edit.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px;
    height: 32px;
    width: 32px
}

.modal-image-container {
    width: 100%;
    padding-bottom: 76%;
    position: relative;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px #cdcdcd
}

.modal-image-container img {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: solid 1px #ddd
}

.feed-thumb {
    background: #e0d8d8;
    width: 100%;
    padding-bottom: 50%;
    position: relative;
    border: solid 1px #ddd
}

.carousel-thumb {
    background: #e0d8d8;
    width: 100%;
    padding-bottom: 60%;
    position: relative;
    border: solid 1px #ddd
}

.ft-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover
}

.ft-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 42px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .13);
    background: #fff;
    background: -moz-linear-gradient(180deg, rgba(255, 255, 255, .9115120169161415) 0, rgba(255, 255, 255, .7042291037508753) 53%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(180deg, rgba(255, 255, 255, .9115120169161415) 0, rgba(255, 255, 255, .7042291037508753) 53%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(180deg, rgba(255, 255, 255, .9115120169161415) 0, rgba(255, 255, 255, .7042291037508753) 53%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    background: 0 0
}

.ft-top {
    width: 100%;
    height: 36px;
    position: absolute;
    left: 0;
    top: 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, .13);
    background: #fff;
    background: -moz-linear-gradient(-90deg, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .2) 53%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(-90deg, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .2) 53%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(-90deg, rgba(255, 255, 255, .3) 0, rgba(255, 255, 255, .2) 53%, rgba(255, 255, 255, 0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1)
}

.ft-icon {
    width: 22px!important;
    height: 22px!important
}

.ft-btn,
.ft-side a {
    width: 28px!important;
    height: 28px!important;
    background-color: #dfe7f1;
    box-shadow: 0 0 4px #000;
    border: solid 2px #fff;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.ft-top a {
    width: 28px!important;
    height: 28px!important;
    background-color: #dfe7f1;
    border-radius: 50%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

.ft-del {
    background-image: url(/images/padrao/cancel.png)
}

.ft-edit {
    background-image: url(/images/padrao/layers.png)
}

.ft-lamp {
    background-image: url(/images/padrao/lamp.png)
}

.ft-lamp-on,
.ft-lamp:hover {
    background-image: url(/images/padrao/lamp1.png)
}

.gen-form {
    font-family: Arial, Helvetica, sans-serif;
    transition: all .33s
}

.gen-form input,
.img-holder,
textarea {
    min-height: 32px;
    padding-left: 6px;
    border-radius: 4px;
    border: 1px solid #bbb;
    background: #edf0f1
}

.gen-form label {
    font-size: 16px;
    text-align: left
}

.input-alert {
    box-shadow: 0p 0 3px red!important
}

.fx200 {
    width: 188px!important;
    padding-bottom: 188px!important
}

.pb20 {
    padding-bottom: 20%!important
}

.pb30 {
    padding-bottom: 30%!important
}

.pb35 {
    padding-bottom: 35%!important
}

.pb40 {
    padding-bottom: 40%!important
}

.pb50 {
    padding-bottom: 50%!important
}

.pb58 {
    padding-bottom: 58%!important
}

.pb60 {
    padding-bottom: 60%!important
}

.pb66 {
    padding-bottom: 66%!important
}

.pb70 {
    padding-bottom: 70%!important
}

.pb80 {
    padding-bottom: 80%!important
}

.pb100 {
    padding-bottom: 100%!important
}

.img-holder {
    width: 100%;
    padding-bottom: 40%;
    border-radius: 6px;
    position: relative;
    overflow: hidden
}

.img-holder .img-preview {
    height: 100%;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto
}

.img-holder .img-flow-vp {
    width: calc(100% - 50px);
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50px;
    margin: auto;
    padding: 12px;
    box-shadow: -4px 0 6px #ddd
}

._del-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    border-left: solid 2px #fff;
    border-bottom: solid 2px #fff;
    border-bottom-left-radius: 50%;
    cursor: pointer;
    background-color: #df4f4f;
    background-image: url(/images/padrao/cancel.png);
    background-size: 28px;
    background-position: center;
    background-repeat: no-repeat
}

.img-holder .img-flow-vp .img-flow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    margin: auto;
    width: fit-content;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start
}

.img-flow .img-container {
    height: 100%;
    width: auto;
    box-shadow: 0 0 6px #bbb;
    margin-left: 6px;
    margin-right: 6px;
    border-radius: 6px;
    overflow: hidden;
    border: solid 3px #fff;
    position: relative
}

.img-flow .img-container img {
    height: 100%;
    width: auto;
    object-fit: cover
}

.fl1-btn {
    height: 100%!important;
    width: 42px!important;
    margin: 0 4px!important;
    background-color: #b4cdcf!important;
    background-image: url(/images/padrao/plus.png)!important
}

.img-holder-bt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 32px;
    height: 32px;
    margin: 8px;
    cursor: pointer;
    background: url(/images/padrao/edit.png);
    background-position: center;
    background-size: 28px;
    background-repeat: no-repeat
}

.form-body {
    height: 300px
}

.short-form-body {
    height: 100%!important
}

.ic {
    background-size: 14px;
    background-position: center;
    background-repeat: no-repeat
}

.ic-list {
    background-image: url(/images/padrao/list.png)
}

.ic-numbered {
    background-image: url(/images/padrao/numbered-list.png)
}

.ic-indent {
    background-image: url(/images/padrao/left-indent.png)
}

.ic-outdent {
    background-image: url(/images/padrao/right-indent.png)
}

.ic-bold {
    background-image: url(/images/padrao/bold.png)
}

.ic-italic,
.ic-strike {
    background-image: url(/images/padrao/italic.png)
}

.ic-underline {
    background-image: url(/images/padrao/undelined.png)
}

.ic-undo {
    background-image: url(/images/padrao/undo.png)
}

.ic-redo {
    background-image: url(/images/padrao/redo.png)
}

.ic-center-alignment {
    background-image: url(/images/padrao/center-alignment.png)
}

.ic-left-alignment {
    background-image: url(/images/padrao/left-alignment.png)
}

.ic-right-alignment {
    background-image: url(/images/padrao/right-alignment.png)
}

.ic-justify-alignment {
    background-image: url(/images/padrao/justify-text.png)
}